.App{
    max-width:100vw;
    min-height:100vh;
    display: flex;
    flex-direction:column;
    --tw-bg-opacity:1;
    background-color: rgb(74 78 105/var(--tw-bg-opacity));;
}


.cards-container{
    display: flex;
    justify-content: center;
}

.filterData{
    display: flex;
    justify-content: center;

}

